<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- id=인터페이스 내 정의된 메서드 명 namespace = 패키지.인터페이스 명, parameterType 인자로 들어가는 타입, resultType 조회 결과 매핑 해줄 클래스-->
<mapper namespace="com.jxx.approval.infra.ConfirmDocumentMapper">
    <select id="select" parameterType="Long" resultType="com.jxx.approval.dto.response.ConfirmDocumentServiceResponse">
        SELECT *
        FROM JXX_CONFIRM_DOCUMENT_MASTER
        WHERE CONFIRM_DOCUMENT_PK = #{confirmDocumentPk}
    </select>

    <insert id="save" useGeneratedKeys="true" parameterType="com.jxx.approval.domain.ConfirmDocument">
        INSERT INTO JXX_CONFIRM_DOCUMENT_MASTER
        (CONFIRM_STATUS,
         CREATE_SYSTEM,
         CREATE_TIME,
         CONFIRM_DOCUMENT_ID,
         DOCUMENT_TYPE,
         COMPANY_ID,
         DEPARTMENT_ID,
         REQUESTER_ID)
        VALUES ('CREATE',
                #{createSystem},
                #{createTime},
                #{confirmDocumentId},
                #{documentType},
                #{companyId},
                #{departmentId},
                #{requesterId})
    </insert>
    <select id="search"
            parameterType="com.jxx.approval.dto.request.ConfirmDocumentSearchCondition"
            resultType="com.jxx.approval.dto.response.ConfirmDocumentServiceResponse">
        SELECT CONFIRM_DOCUMENT_PK,
               CONFIRM_DOCUMENT_ID,
               COMPANY_ID,
               DEPARTMENT_ID,
               CREATE_SYSTEM,
               CONFIRM_STATUS,
               DOCUMENT_TYPE,
               REQUESTER_ID

        FROM JXX_CONFIRM_DOCUMENT_MASTER
        <where>
            <if test="confirmDocumentId != null and confirmDocumentId != ''">
                AND CONFIRM_DOCUMENT_ID = #{confirmDocumentId}
            </if>
            <if test="confirmStatus != null and confirmStatus != ''">
                AND CONFIRM_STATUS = #{confirmStatus}
            </if>
            <if test="requesterId != null and requesterId != ''">
                AND REQUESTER_ID = #{requesterId}
            </if>
        </where>
    </select>
</mapper>


<!--<select id="search"-->
<!--        parameterType="com.jxx.approval.dto.request.ConfirmDocumentSearchCondition"-->
<!--        resultType="com.jxx.approval.dto.response.ConfirmDocumentServiceResponseV2">-->
<!--SELECT CONFIRM_DOCUMENT_PK,-->
<!--CONFIRM_DOCUMENT_ID,-->
<!--COMPANY_ID,-->
<!--DEPARTMENT_ID,-->
<!--CREATE_SYSTEM,-->
<!--REQUESTER_ID-->

<!--FROM JXX_CONFIRM_DOCUMENT_MASTER-->
<!--<where>-->
<!--    <if test="confirmDocumentId != null and confirmDocumentId != ''">-->
<!--        AND CONFIRM_DOCUMENT_ID = #{confirmDocumentId}-->
<!--    </if>-->
<!--    <if test="confirmStatus != null and confirmStatus != ''">-->
<!--        AND CONFIRM_STATUS = #{confirmStatus}-->
<!--    </if>-->
<!--    <if test="requesterId != null and requesterId != ''">-->
<!--        AND REQUESTER_ID = #{requesterId}-->
<!--    </if>-->
<!--</where>-->
<!--</select>-->